
#myimg{
     width: 240px;
  height: 270px;
  object-fit: cover;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
}
.card:hover{
  
  transform: scale(1.03);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);

}
.card{
     transition: transform 0.3s ease;
}
